/* Code in this file has been written by George Humberstone*/
:root{
    --myRed:#e63946;
    --myMiddleBlue: #457B9D;
    --myDarkBlue:#1D3557;
    --myLightBlue:#A8DADC;
    --myhoneydew: #f1faee;
}
main{
    width:98%;
    margin:0em auto 0em auto;
}
h2{
    width:90%;
    color:var(--myhoneydew);
    margin:0em auto 1em auto;
    text-align:center;
}
table{
    font-size:1.2em;
    width:90%;
    color:var(--myhoneydew);
    border-color:var(--myRed);
    text-align: center;
    margin: 0em auto 3em auto;
    border-style: solid;

}
th,td{
    border-style: solid;
    border-color: var(--myRed);
}
p{ 
  width:60%;
  margin:0em auto 1em auto;
  color:var(--myhoneydew);
}
div{
    text-align:center;
}
button{
    margin:0em auto 3em auto;
    background-color: var(--myMiddleBlue);
    color: var(--myhoneydew);
}


canvas{
    background-color: black;
    margin:0em auto 0em auto;
    /*Canvas is initially an inline element so this allows us to display canvas central*/
    display: block;
    
}

@media screen and (min-width: 850px){
    /*Moves content more central here , a break point*/
    
    
    h2{
        width:70%;
        font-size:1em;
    }
    table{
        font-size: 0.8em;
    }
    
}

@media screen and (min-width:1200px){
    table{
        width:70%
    }
    
    

}
